@import url(./style.css);
@import url(./create_doc_form_style.css);

/* CONTENT WRAPPER */
.pnbr {
  width: 1030px;
  font-size: 14px;
}

/* PNBR TABLE */
.pnbr-table {
  font-size: 12px;
  line-height: 14px;
  margin-top: 20px;
  width: 100%;
  color: #3273ae;
  text-align: center;
  white-space: normal;
}

.pnbr-table th {
  border: 1px solid #9abad7;
  background-color: #e0e9f2;
  height: 40px;
}

.pnbr-table__num {
    width: 60px;
}

.pnbr-table td {
  border: 1px solid #d1d1d1;
  height: 30px;
  color: #303030;
  padding: 0 10px;
}

.pnbr-table td:not(:first-child, :last-child) {
    width: 150px;
}

.pnbr-table td:last-child {
    width: 220px;
    max-width: 220px;
}

.pnbr-table input, textarea {
  border: none;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
  font-weight: inherit;
}

.pnbr-table__cs {
  font-weight: 600;
  text-align: left;
}

.pnbr-table__total {
  font-weight: 600;
  background-color: #e0f2e7;
  text-align: left;
}
