@import url("./font.css");

/* BASIC CONF */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    cursor: pointer;
}

button {
    background: none;
    border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* BASIC CONF */
@import url("./pagination.css");

body {
    overflow-x: hidden;
}

.primary {
    background: #6BA4FB;
    text-align: center;
    line-height: 20px;
}
.warn {
    background: #E89F5D;
    text-align: center;
    line-height: 20px;
}
.error {
    background: #E85D5D;
    text-align: center;
    line-height: 20px;
}
.success {
    background: #78CA85;
    text-align: center;
    line-height: 20px;
}